.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
    color: #ff2c1f;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}