.form {
  width: 85vw;
}

.container-m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  height: 80vh;

  border: 2px solid rgb(187, 0, 255);
  border-radius: 5px;
  overflow-y: scroll;
}

.btn {
  width: 100%;
  height: 50px;

  margin-bottom: 10px;
}
